---
layout: bootstrap
title: Fairfield County Minecraft!
---

<div class="jumbotron frontpage">
	<div class="container testing">
		<img src="assets/images/FCMC_Logo_25deg.png" width="200" id="buttonimg">
		<h2>
			FAIRFIELD COUNTY MINECRAFT
		</h2>

		<div class="col-sm-12">
			<p>The #1 librarian-run, county-wide Minecraft server cooperative in the world!</p>

			<p style="margin-top: 20px;">
				<a href="/players.html" class="btn btn-primary btn-large">Players</a> &nbsp;
				<a href="/parents.html" class="btn btn-warning btn-large">Parents</a> &nbsp;
				<a href="/libraries.html" class="btn btn-danger btn-large">Libraries</a>
		  </p>
		</div>
	</div>
</div>

<div class="container mainbody">
	<div class="row">
		<div class="col-sm-7">
		  <div class="pageitem">
				<h3>What are we?</h3>
				<img src="assets/images/town_portals.png" align="left" width="100" height="100" alt="Town Portals" class="circle-thumb img-circle">
				<h4>Welcome Minecrafters!</h4>
				<p>
					Fairfield County Minecraft is a <a href="https://minecraft.net/">Minecraft</a> server cooperative run by participating libraries throughout Fairfield County, Connecticut. The server is hosted and managed by <a href="http://www.darienlibrary.org/">Darien Library</a>.  The purpose of this server cooperative is to provide a safe, enjoyable, and community-focused environment for Minecraft players (between the ages of 8 and 18) throughout the county to gather, build, collaborate, and sometimes be blown up by creepers.  If you live in a participating town, all you need is a Minecraft account and a library card to <a href="/players.html">get started</a>.
				</p>
				<h4>What kind of server is it?</h4>
				<p>
					It's the fun kind!  Actually, you're probably asking, "Is it creative or survival?". Right now it is all survival maps because we want you to be challenged a little. However, we definitely have plans on making a creative world where you can build to your heart's content.  We're always adding new stuff too. We have mini games, parkour, survival games, and much more is planned.  There is one world where players can build cooperatively, no matter what town they are from, but in addition to that, every town has its own world where only residents of that town can build. You can go visit all the other towns' worlds if you like, however, and players often do.  For the brave or foolhardy, the Nether awaits where PvP is allowed.  And if your fellow Minecrafters don't get you, the lava and withers just might. 
				</p>
				<h4>Which libraries are participating?</h4>
				<p>
					We intend WORLD DOMINATION! Just kidding, but we would love it if every town in Fairfield County participated.  We're not quite there yet.  As of now, if you live in one of these towns, you're in luck: <a href="http://www.brookfieldlibrary.org/">Brookfield</a>, <a href="http://www.darienlibrary.org/">Darien</a>, <a href="http://newcanaanlibrary.org/">New Canaan</a>, <a href="http://www.newfairfieldlibrary.org/">New Fairfield</a>, <a href="http://www.chboothlibrary.org/">Newtown</a>, <a href="http://www.norwalklib.org/">Norwalk</a>, <a href="http://www.westonpubliclibrary.org/">Weston</a>, <a href="http://westportlibrary.org/">Westport</a>, <a href="http://www.wiltonlibrary.org/">Wilton</a>.
				</p>
				<p>
					If your town is not on that list, there is still hope! Visit your local library and tell them about us.  It's super easy to join and be a part of the awesomeness.  We even have a <a href="/libraries.html">page on this website</a> that can help your hometown library figure out how to participate (SPOILER: it's totally easy).
				</p>
				<h4>If I have questions, who should I ask?</h4>
				<p>
					If you live in a town whose library participates, feel free to call on your local library and they can probably answer most questions.  Otherwise, <a href="mailto:jblyberg@darienlibrary.org">John Blyberg</a>, the server admin at Darien Library, is always happy to help.
				</p>
			</div>

			<div class="pageitem" style="padding-top: 10px;">
				<h3>What's New?</h3>
				
				{% for post in site.categories.news limit: 1 %}
				<div class="postbody">
					<p class="postdate_brief">{{ post.date | date: "%B %e, %Y"}}</p>
    			<h4><a href="{{ post.url }}">{{ post.title }}</a></h4>
  			</div>

  			<div>
    			{{ post.excerpt }} ... <span class="readmore">(<a href="{{ post.url }}">read more</a>)</span>
  			</div>
  			{% endfor %}  		

  		</div>

		</div>

		<div class="col-sm-5">

			<div class="container-fluid player-count center-block ffld-map">
				<div class="text-center">
					<h4>Currently Online:</h4>
					<span id="num_players"><img src="assets/images/loader.gif"></span>
				</div>
			</div>

			<span class="pageitem"><h4>Who's on?</h4></span>
			<span id="player_list"><img src="assets/images/loader.gif"></span>
			
			<script>
				(function() {
					var mcAPI = "http://fcminecraft.org/api/fcminecraft_api.php?callback=player_list";
					$.getJSON( mcAPI, function(data) {
						var playerlist = data.htmllist;
						var playercount = data.num_players + " of " + data.max_players + " Players";
						$('#player_list').html(playerlist);
						$('#num_players').html(playercount);
					});
				})();
			</script>

			<span class="pageitem"><h4>Archive</h4></span>
		  <ul id="posts">
		    {% for post in site.posts %}
		      <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
		    {% endfor %}
		  </ul>

		  <div style="text-align: center; padding-top: 30px;">
		  	<img width="200" src="assets/images/creeper_head.jpg">
		  	<br />
		  	Boom.
		  </div>

		</div>

	</div>
</div>
