---
layout: bootstrap
title: Fairfield County Minecraft!
---

<div class="jumbotron sidepage librarypage">
	<div class="container">

		<h3>
			FCMC LIBRARIES
		</h3>

		<div class="col-sm-12">
			<p>
				<a href="/" class="btn btn-info btn-large"><span class="glyphicon glyphicon-home"></span></a> &nbsp;
				<a href="/players.html" class="btn btn-primary btn-large">Players</a> &nbsp;
				<a href="/parents.html"class="btn btn-warning btn-large">Parents</a> &nbsp;
				<a href="/libraries.html" class="btn btn-danger btn-large active">Libraries</a>
		  </p>
		</div>

	</div>
</div>

<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li class="active">Libraries</li>
</ol>

<div class="container mainbody">
	<div class="row">
		<div class="col-sm-6">

			<div class="pageitem">
				<h3>Non-Members</h3>
				<p>
					<span class="pageitem"><h4>Joining FCMC</h4>
					Joining FCMC is easy and free.  Well, if your library doesn't already have a staff-only Minecraft account, then it's going to cost you $27. We take care of the rest.  What's the catch? No catch--this is a cooperative effort. As a member, you will be responsible for the care and tending of your players.  You will add them to the server and prune them as they age out. We ask that you spend an hour or two each week hanging out on the server so that we increase the number of adults online, especially in the afternoon.
				</p>
				<p>
					<span class="pageitem"><h4>Getting Started</h4>
					You are encouraged to have some internal discussion about your roles and responsibilities as a member before joining. As mentioned, they are not burdensome at all, however, it is still a commitment.  Once you are ready to take the plunge, you will need to have at least one staff member (typically the project lead) undergo a 90 minute orientation which is usually hosted at Darien Library.  During this orientation, you will learn how to whitelist players and add them to your town. The orientation will cover strategies for announcing and marketing the service to your town, as well as some basic procedures for being a moderator while logged in to the server (what to do if a player is misbehaving, etc).
				</p>
			</div>

			<div class="pageitem">
				<h3>Members</h3>
				<p>
					<span class="pageitem"><h4>Member Responsibilities</h4>
					As a FCMC member, you will be responsible to maintaining your player list and adding players from your town to the server as well as pruning players who have aged out and are too old to play.  We also ask that you spend some time every week online being active, present, and engaged--ideally in the afternoon when school gets out.  We do expect that your library will remain engaged in the cooperative approach to managing the oversight of players on the server and will be responsive to communication regarding the server.
				</p>
				<p>
					<span class="pageitem"><h4>Member Resources</h4>
					One of the reasons we created this site was to provide resources to member libraries in the form of how-tos, FAQs, procedures, etc.  Those are not quite written yet, but when they are, they'll be right here.
				</p>
			</div>

		</div>



		<div class="col-sm-6">

			<div class="pageitem">
				<h3>What's New?</h3>

				{% for post in site.categories.libraries limit: 1 %}
				<div class="postbody">
					<p class="postdate_brief">{{ post.date | date: "%B %e, %Y"}}</p>
					<h4><a href="{{ post.url }}">{{ post.title }}</a></h4>
				</div>

				<div>
					{{ post.excerpt }} ... <span class="readmore">(<a href="{{ post.url }}">read more</a>)</span>
				</div>
				{% endfor %}
			</div>

			<span class="pageitem"><h4>Archive</h4></span>
		  <ul id="posts">
		    {% for post in site.categories.libraries %}
		      <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
		    {% endfor %}
		  </ul>

		  <div class="pageitem">
		  	<br />
				<h3>Other Libraries</h3>
				<p>
					<span class="pageitem"><h4>Setting Up a Minecraft Server</h4>
					We get many inquiries from libraries all over the world asking how we went about setting up a Minecraft server for our kids and teens. There is no easy answer because it is a very complex process with dozens of variables such as, what kind of server do you want to run? Do you want it to be open to the public? Will it be open 24x7? Will it be accessible from the outside world, or just within the library?  My first question is always, "have you played Minecraft?".  If the answer is no, go purchase an account and play it.  If you don't know what all the fuss is about, then you're probably <em>(hint: definitely)</em> not ready to run a server.
				</p>
				<p>
					However, if you and your library is truly ready to take the plunge, I suggest you do a lot of research ahead of time.  The more thought and planning you put into your Minecraft server, the better it will be.  If you're looking for a good place to get started, please see our <a href="/server-info.html">Server Information</a> page.  It will give you a few starting points and some idea of where you can take your Minecraft server project.  Running a Minecraft server is challenging but fun and rewarding for both you and your players. 
				</p>
			</div>

		  <div class="pageitem">
		  	<br />
				<h3>Contact Us</h3>
				<p>
					For all inquires not covered by the materials on this site, please email <a href="mailto:jmcnutt@darienlibrary.org">James McNutt</a> at <a href="http://www.darienlibrary.org">Darien Library</a>.
				</p>
			</div>



		</div>
	</div>
</div>
