---
layout: bootstrap
title: Fairfield County Minecraft!
---

<div class="jumbotron sidepage playerpage">
	<div class="container">

		<h3>
			FCMC PLAYERS
		</h3>

		<div class="col-sm-12">
			<p>
				<a href="/players.html" class="btn btn-primary btn-large active">Players</a> &nbsp;
				<a href="/parents.html" class="btn btn-warning btn-large">Parents</a> &nbsp;
				<a href="/libraries.html" class="btn btn-danger btn-large">Libraries</a>
		  </p>
		</div>

	</div>
</div>

<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li class="active">Players</li>
</ol>

<div class="container mainbody">
	<div class="row">
		<div class="col-sm-7">

		  <div class="pageitem">
				<h3>What's New?</h3>

				{% for post in site.categories.players limit: 1 %}
				<div>
					<div>{{ post.date | date: "%B %e, %Y"}}</div>
    			<h4><a href="{{ post.url }}">{{ post.title }}</a></h4>
  			</div>

  			<div>
    			{{ post.content }}
  			</div>
  			{% endfor %}

  		</div>

			<div class="pageitem" style="padding-top: 10px;">
				<h3>How do I...?</h3>


				<div class="panel-group" id="accordion">

				  <div class="panel">
				    <div class="panel-heading">
				      <h4 class="panel-title">
				        <a data-toggle="collapse" data-parent="#accordion" href="#collapse_getstarted">
				          Get started playing?
				        </a>
				      </h4>
				    </div>
				    <div id="collapse_getstarted" class="panel-collapse collapse">
				      <div class="panel-body">
				      	<p>
				        	In order to play, you will need a paid Minecraft account and a library card. To be added to the server, go into your local library and ask to be added to the Minecraft server. Once the librarian checks your card, they will add you to the server's "whitelist" and assign you to your town's group.
				        </p>
				        <p>
									You will need to add FCMC to your multiplayer list. Once you're in your multiplayer screen, click "Add Server"
				        </p>
				        <p style="text-align: center;">
									<img width="480" src="assets/images/addserver.png">
				        </p>
				        <p>
									On the next screen, name the new server something like "Ffld County Minecraft" and use "fcminecraft.org" as the server address.
				        </p>
				        <p style="text-align: center;">
									<img width="480" src="assets/images/serverinfo.png">
				        </p>
				        <p>
									Click <em>done</em> and you should then see FCMC in your server list.
				        </p>
				        <p style="text-align: center;">
									<img width="480" src="assets/images/serverlisting.png">
				        </p>
				        <p>
									Click it, join, and play!
				        </p>
				      </div>
				    </div>
				  </div>

				  <div class="panel">
				    <div class="panel-heading">
				      <h4 class="panel-title">
				        <a data-toggle="collapse" data-parent="#accordion" href="#collapse_gp">
				          Protect my stuff from griefing?
				        </a>
				      </h4>
				    </div>
				    <div id="collapse_gp" class="panel-collapse collapse">
				      <div class="panel-body">
				      	<p>
				      		FCMC uses the "Grief Prevention" plugin to allow you to protect your build area.  In order to use it, you will need a golden shovel--which we will provide for you! You can easily get one while in the game by typing: <code>/kit claiming</code>.  You can do this once per day.
								</p>
								<p>
				      		This is a great tutorial on how to use Grief Prevention:
				      	</p>
				        <p style="text-align: center;">
				        	<iframe width="480" height="270" src="//www.youtube.com/embed/VDsjXB-BaE0" frameborder="0" allowfullscreen></iframe>
				        </p>
				        <p>
									FCMC also uses the Lockette plugin which allows you to safely lock away your valuable inside chests.  It's super simple and uses signs. Here's a quick tutorial about that:
				        </p>
				        <p style="text-align: center;">
									<iframe width="480" height="270" src="//www.youtube.com/embed/CVcU_ZPgF0E" frameborder="0" allowfullscreen></iframe>
				        </p>
				      </div>
				    </div>
				  </div>

				  <div class="panel">
				    <div class="panel-heading">
				      <h4 class="panel-title">
				        <a data-toggle="collapse" data-parent="#accordion" href="#collapse_stables">
				          Create and use stables?
				        </a>
				      </h4>
				    </div>
				    <div id="collapse_stables" class="panel-collapse collapse">
				      <div class="panel-body">
				      	<p>
				      		FCMC uses the "Stables" plugin for horse and donkeys.  It's a very useful plugin that allows you to keep horses and craft saddles, bridles, and nametags without having to search through Nether for them.  This very useful tutorial will show you how to use Stables:
				        </p>
				        <p style="text-align: center;">
				        	<iframe width="480" height="270" src="//www.youtube.com/embed/fzyXJ8iHERc" frameborder="0" allowfullscreen></iframe>
				        </p>
				      </div>
				    </div>
				  </div>

				  <div class="panel">
				    <div class="panel-heading">
				      <h4 class="panel-title">
				        <a data-toggle="collapse" data-parent="#accordion" href="#collapse_survival">
				          Play Survival Games?
				        </a>
				      </h4>
				    </div>
				    <div id="collapse_survival" class="panel-collapse collapse">
				      <div class="panel-body">
				      	<p>
				      		By popular demand, FCMC now has survival games!  This totally fun plugin probably needs no explanation, but getting to the SG lobby might.  There are lots of ways to get around the various worlds in FCMC, but the quickest way to the SG lobby is to do: <code>/warp survivalgames</code>. Once in the lobby, you can choose the game you want by punching the sign for the arena you wish to play in.  Once two or more players are present on their pedestals inside the arena, type <code>/sg vote</code> to vote for the game to start. The game will begin to count down and then you're off!<br />Here's an example of Survival Games gameplay:
				        </p>
				        <p>
									<iframe width="480" height="270" src="//www.youtube.com/embed/2916h0Kc4EA" frameborder="0" allowfullscreen></iframe>
				        </p>
				      </div>
				    </div>
				  </div>

				  <div class="panel">
				    <div class="panel-heading">
				      <h4 class="panel-title">
				        <a data-toggle="collapse" data-parent="#accordion" href="#collapse_reporting">
				          Report bad behavior by another player?
				        </a>
				      </h4>
				    </div>
				    <div id="collapse_reporting" class="panel-collapse collapse">
				      <div class="panel-body">
				        <p>
				        	We have a lot of tools in place to guard against griefing and rulebreaking, but sometimes it happens.  The first thing you should do is become familiar with our rules. They are listed on the right-hand side of this page.  There are not a lot of them, but we enforce them so that gameplay is fair, fun, and safe.  Take a moment to read them if you haven't yet.
				        </p>
								<p>
									If you have been the victim of griefing or witness bad behavior or language, there are a few ways you can report it. You can send an in-game mail to one of the staff (it's probably best to send it to the admin or one of the builders), you can tell your librarian at your library, you can call your librarian, or you can tell a staff member in chat while on the server.  
								</p>
								<p>
									In order to send mail on the server, use the following command:<br /> <code>/mail send [playername] message</code>. <br /> For example: <br /> <code>/mail jblyberg send Help, I've been griefed!</code>. <br /> Of course, you should include more information than that.
								</p>
								<p>
									In order to catch the offender, you will need to give as much detail about the problem as possible. In order to figure out who did the griefing, for example, you will need to show a staff member where it happened and approximately when.
								</p>
				      </div>
				    </div>
				  </div>

				  <div class="panel">
				    <div class="panel-heading">
				      <h4 class="panel-title">
				        <a data-toggle="collapse" data-parent="#accordion" href="#collapse_unban">
				          Get unbanned?
				        </a>
				      </h4>
				    </div>
				    <div id="collapse_unban" class="panel-collapse collapse">
				      <div class="panel-body">
				      	<p>
				      		We don't often ban players because, on the whole, you're a great group of kids! But sometimes someone decides to go barbarian on us and we have to do what we have to do.  The few players that have been banned were banned for griefing or swearing. One or two for unauthorized PvP and bullying. We log <em>everything</em> that happens on the server so if you decide to bash through someone's wall like the Kool-aid guy, we <em>will</em> find you and you will be banned.  Also, all chat, sign placement, etc is logged so we know if you've been cursing like a sailor.  So your best bet it to never get banned in the first place.
				        </p>
				        <p>
									But we are also forgiving. If you have strayed from the path, been banned, and want back in, we would <em>love</em> to have you back, provided you're going to adhere to the rules.  The only way to get unbanned is to come in to you library and speak with the librarian about getting unbanned. You'll probably get a little bit of a talking to, but once you've done that, your librarian will email the admin who will then unban you.
				        </p>
				        <p>
									There have been a <em>few</em> cases where a server glitch banned a player. If you believe that has happened to you, simply call your library and tell them you that that happened. Be sure to tell them your Minecraft username so they can pass it along to the admin and you will be unbanned.  No need to apologize for that!
				        </p>
				      </div>
				    </div>
				  </div>

				</div>


  		</div>

		</div>

		<div class="col-sm-5">

			<div class="container-fluid player-count center-block ffld-map">
				<div class="text-center">
					<h4>Currently Online:</h4>
					<span id="num_players"></span>
					<script>
						(function() {
  						var mcAPI = "http://fcminecraft.org/api/fcminecraft_api.php?callback=player_count";
  						$.getJSON( mcAPI, function(data) {
  							var output = data.num_players + " of " + data.max_players + " Players";
  							$('#num_players').html(output);
  						});
						})();
					</script>
				</div>
			</div>

			<span class="pageitem"><h4>Who's on?</h4></span>
			<span id="player_list"><img src="assets/images/loader.gif"></span>
			<script>
				(function() {
					var mcAPI = "http://fcminecraft.org/api/fcminecraft_api.php?callback=player_list";
					$.getJSON( mcAPI, function(data) {
						var output = data.htmllist;
						$('#player_list').html(output);
					});
				})();
			</script>

			<span class="pageitem"><h4>Server Rules</h4></span>
			<ol class="ruleslist">
			  <li>Griefing or swearing will get you banned.</li>
			  <li>PvP is only allowed in these locations:
					<ul class="ruleslist">
						<li>Nether (no ambushing)</li>
						<li>Survival Games arenas</li>
						<li>Anywhere in Panem at any time</li>
					</ul>
			  </li>
			  <li>Bullying will get you banned immediately.</li>
			  <li>No cheating with client-side mods.</li>
			  <li>Spamming of any kind will land you in jail.</li>
			</ol>

			<span class="pageitem"><h4>Server Staff</h4></span>
			<!-- http://minecraft-skin-viewer.com/player/jblyberg -->

		  <div class="staffblock">

		  	<span class="staffrank">Admins</span>
		  	<div class="row staffrow">
		  		<div class="col-xs-4 col-sm-4" style="text-align:center;">
		  			<div><img height="45" src="http://fcminecraft.org/api/3d.php?login=jblyberg"></div>
		  			<span class="staffname">jblyberg</span>
		  		</div>
		  	</div>
		  	
		  	<span class="staffrank">Builders</span>

		  	<div class="row staffrow">
		  		<div class="col-xs-4 col-sm-4" style="text-align:center;">
		  			<div><img height="45" src="http://fcminecraft.org/api/3d.php?login=Jkdawg6"></div>
		  			<span class="staffname">Jkdawg6</span>
		  		</div>
		  		<div class="col-xs-4 col-sm-4" style="text-align:center;">
		  			<div><img height="45" src="http://fcminecraft.org/api/3d.php?login=maddogxxi"></div>
		  			<span class="staffname">maddogxxi</span>
		  		</div>
		  	</div>

		  	<span class="staffrank">Moderators (Library Staff)</span>
		  	
		  	<div class="row staffrow">
		  		<div class="col-xs-4 col-sm-4" style="text-align:center;">
		  			<div><img height="45" src="http://fcminecraft.org/api/3d.php?login=Genesis2kx"></div>
		  			<span class="staffname">Genesis2kx</span>
		  		</div>
		  		<div class="col-xs-4 col-sm-4" style="text-align:center;">
		  			<div><img height="45" src="http://fcminecraft.org/api/3d.php?login=FPLGamer"></div>
		  			<span class="staffname">FPLGamer</span>
		  		</div>
		  	</div>

		  	<div class="row staffrow">
		  		<div class="col-xs-4 col-sm-4" style="text-align:center;">
		  			<div><img height="45" src="http://fcminecraft.org/api/3d.php?login=NewCanaanLib"></div>
		  			<span class="staffname">NewCanaanLib</span>
		  		</div>
		  		<div class="col-xs-4 col-sm-4" style="text-align:center;">
		  			<div><img height="45" src="http://fcminecraft.org/api/3d.php?login=kreepernfl"></div>
		  			<span class="staffname">kreepernfl</span>
		  		</div>
		  	</div>

		  	<div class="row staffrow">
		  		<div class="col-xs-4 col-sm-4" style="text-align:center;">
		  			<div><img height="45" src="http://fcminecraft.org/api/3d.php?login=CHBer"></div>
		  			<span class="staffname">CHBer</span>
		  		</div>
		  		<div class="col-xs-4 col-sm-4" style="text-align:center;">
		  			<div><img height="45" src="http://fcminecraft.org/api/3d.php?login=NPLNWK"></div>
		  			<span class="staffname">NPLNWK</span>
		  		</div>
		  	</div>

		  	<div class="row staffrow">
		  		<div class="col-xs-4 col-sm-4" style="text-align:center;">
		  			<div><img height="45" src="http://fcminecraft.org/api/3d.php?login=PugLife2000"></div>
		  			<span class="staffname">PugLife2000</span>
		  		</div>
		  		<div class="col-xs-4 col-sm-4" style="text-align:center;">
		  			<div><img height="45" src="http://fcminecraft.org/api/3d.php?login=Demcraft77"></div>
		  			<span class="staffname">Demcraft77</span>
		  		</div>
		  	</div>

		  	<div class="row staffrow">
		  		<div class="col-xs-4 col-sm-4" style="text-align:center;">
		  			<div><img height="45" src="http://fcminecraft.org/api/3d.php?login=volleyballmom"></div>
		  			<span class="staffname">volleyballmom</span>
		  		</div>
		  		<div class="col-xs-4 col-sm-4" style="text-align:center;">
		  			<div><img height="45" src="http://fcminecraft.org/api/3d.php?login=WestportL"></div>
		  			<span class="staffname">WestportL</span>
		  		</div>
		  	</div>

		  	<div class="row staffrow">
		  		<div class="col-xs-4 col-sm-4" style="text-align:center;">
		  			<div><img height="45" src="http://fcminecraft.org/api/3d.php?login=altrusian"></div>
		  			<span class="staffname">altrusian</span>
		  		</div>
		  		<div class="col-xs-4 col-sm-4" style="text-align:center;">
		  			<div><img height="45" src="http://fcminecraft.org/api/3d.php?login=cheetara19"></div>
		  			<span class="staffname">cheetara19</span>
		  		</div>
		  	</div>

		  	<div class="row staffrow">
		  		<div class="col-xs-4 col-sm-4" style="text-align:center;">
		  			<div><img height="45" src="http://fcminecraft.org/api/3d.php?login=LongbowSA"></div>
		  			<span class="staffname">LongbowSA</span>
		  		</div>
		  		<div class="col-xs-4 col-sm-4" style="text-align:center;">
		  			<div><img height="45" src="http://fcminecraft.org/api/3d.php?login=SpiderBrigade"></div>
		  			<span class="staffname">SpiderBrigade</span>
		  		</div>
		  	</div>


		  </div>



			<span class="pageitem"><h4>Archive</h4></span>
		  <ul id="posts">
		    {% for post in site.categories.players %}
		      <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
		    {% endfor %}
		  </ul>

		</div>

	</div>
</div>
