---
layout: bootstrap
title: Fairfield County Minecraft!
---

<div class="jumbotron sidepage playerpage">
	<div class="container">

		<h3>
			FCMC PLAYERS
		</h3>

		<div class="col-sm-12">
			<p>
				<a href="/players.html" class="btn btn-primary btn-large active">Players</a> &nbsp;
				<a href="/parents.html" class="btn btn-warning btn-large">Parents</a> &nbsp;
				<a href="/libraries.html" class="btn btn-danger btn-large">Libraries</a>
		  </p>
		</div>

	</div>
</div>

<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li class="active">Players</li>
</ol>

<div class="container mainbody">
	<div class="row">
		<div class="col-sm-7">

		  <div class="pageitem">
				<h3>What's New?</h3>

				{% for post in site.categories.players limit: 1 %}
				<div>
					<div>{{ post.date | date: "%B %e, %Y"}}</div>
    			<h4><a href="{{ post.url }}">{{ post.title }}</a></h4>
  			</div>

  			<div>
    			{{ post.content }}
  			</div>
  			{% endfor %}

  		</div>

			<div class="pageitem" style="padding-top: 10px;">
				<h3>How do I...?</h3>


				<div class="panel-group" id="accordion">

				  <div class="panel">
				    <div class="panel-heading">
				      <h4 class="panel-title">
				        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
				          Get started playing?
				        </a>
				      </h4>
				    </div>
				    <div id="collapseOne" class="panel-collapse collapse">
				      <div class="panel-body">
				      	<p>
				        	In order to play, you will need a paid Minecraft account and a library card. To be added to the server, go into your local library and ask to be added to the Minecraft server. Once the librarian checks your card, they will add you to the server's "whitelist" and assign you to your town's group.
				        </p>
				        <p>
									You will need to add FCMC to your multiplayer list. Once you're in your multiplayer screen, click "Add Server"
				        </p>
				        <p style="text-align: center;">
									<img width="480" src="assets/images/addserver.png">
				        </p>
				        <p>
									On the next screen, name the new server something like "Ffld County Minecraft" and use "fcminecraft.org" as the server address.
				        </p>
				        <p style="text-align: center;">
									<img width="480" src="assets/images/serverinfo.png">
				        </p>
				        <p>
									Click <em>done</em> and you should then see FCMC in your server list.
				        </p>
				        <p style="text-align: center;">
									<img width="480" src="assets/images/serverlisting.png">
				        </p>
				        <p>
									Click it, join, and play!
				        </p>
				      </div>
				    </div>
				  </div>

				  <div class="panel">
				    <div class="panel-heading">
				      <h4 class="panel-title">
				        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
				          Protect my stuff from griefing?
				        </a>
				      </h4>
				    </div>
				    <div id="collapseTwo" class="panel-collapse collapse">
				      <div class="panel-body">
				      	<p>
				      		FCMC uses the "Grief Prevention" plugin to allow you to protect your build area.  In order to use it, you will need a golden shovel--which we will provide for you! You can easily get one while in the game by typing: <code>/kit claiming</code>.  You can do this once per day.
								</p>
								<p>
				      		This is a great tutorial on how to use Grief Prevention:
				      	</p>
				        <p style="text-align: center;">
				        	<iframe width="480" height="270" src="//www.youtube.com/embed/VDsjXB-BaE0" frameborder="0" allowfullscreen></iframe>
				        </p>
				        <p>
									FCMC also uses the Lockette plugin which allows you to safely lock away your valuable inside chests.  It's super simple and uses signs. Here's a quick tutorial about that:
				        </p>
				        <p style="text-align: center;">
									<iframe width="480" height="270" src="//www.youtube.com/embed/CVcU_ZPgF0E" frameborder="0" allowfullscreen></iframe>
				        </p>
				      </div>
				    </div>
				  </div>

				  <div class="panel">
				    <div class="panel-heading">
				      <h4 class="panel-title">
				        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
				          Report bad behavior by another player?
				        </a>
				      </h4>
				    </div>
				    <div id="collapseThree" class="panel-collapse collapse">
				      <div class="panel-body">
				        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
				      </div>
				    </div>
				  </div>

				</div>


  		</div>

		</div>

		<div class="col-sm-5">

			<div class="container-fluid player-count center-block ffld-map">
				<div class="text-center">
					<h4>Currently Online:</h4>
					<span id="num_players"></span>
					<script>
						(function() {
  						var mcAPI = "http://fcminecraft.org/api/fcminecraft_api.php?callback=player_count";
  						$.getJSON( mcAPI, function(data) {
  							var output = data.num_players + " of " + data.max_players + " Players";
  							$('#num_players').html(output);
  						});
						})();
					</script>
				</div>
			</div>

			<span class="pageitem"><h4>Who's on?</h4></span>
			<span id="player_list"></span>
			<script>
				(function() {
					var mcAPI = "http://fcminecraft.org/api/fcminecraft_api.php?callback=player_list";
					$.getJSON( mcAPI, function(data) {
						var output = data.txtlist;
						$('#player_list').html(output);
					});
				})();
			</script>

			<span class="pageitem"><h4>Archive</h4></span>
		  <ul id="posts">
		    {% for post in site.categories.players %}
		      <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
		    {% endfor %}
		  </ul>

		</div>

	</div>
</div>
