/*********************************************
 * FONTS
 *********************************************/

@font-face {
	font-family: 'Conv_Minecraftia';
	src: local('☺'), url('../fonts/Minecraftia.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Conv_Minecrafter_3';
	src: local('☺'), url('../fonts/Minecrafter_3.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

/*********************************************
 * DEFAULT STYLES
 *********************************************/

body {
	color: #F0F8FF;
	background-color: #424242;
}

.ffld-map {
	background-image: url('../images/FCMC_Map.png');
	background-size: 300px;
	background-repeat:no-repeat;
	background-position:center;
	padding: 65px 0px 115px 0px;
	min-width: 290px;
}

.player-count {
	padding-left: 20px;
}

.player-count h4 {
	margin-top: 0px;
	margin-bottom: 0px;
	color: #FF6610;
}

.player_name {
	font-family: courier, "courier new";
	color: #11AC62;
}

#num_players {
	font-family: courier, "courier new";
}

.ruleslist {
	padding-left: 25px;
	color: #DFAC52;
}

.staffblock {
	margin-left: 10px;
}

.staffrow {
	margin-top: 5px;
	margin-bottom: 5px;
}

.staffrank {
	color: #FDC208;
}

.staffname {
	font-family: courier, "courier new";
	color: #11AC62;
}

.pageitem h4 {
	color: #FF6610;
}

.mainbody {
	margin-top: 10px;
}

.mainbody h3 {
	font-family: 'Conv_Minecrafter_3', sans-serif;
	color: #FDC208;

}

.circle-thumb {
	padding-right: 6px;
}

#buttonimg {
  position: absolute;
  top: 10px;
  right: 20px;
}

#buttonimg-small {
  position: absolute;
  top: 0px;
  right: 35px;
}

.frontpage {
 	background-image: url('../images/15154_minecraft.jpg');
 	background-position:center;
 	margin-top: 50px;
 	margin-bottom: 0px;
 	padding-top: 50px;
 	padding-bottom: 50px;
	padding-left: 0px;
}

.frontpage h2 {
	display: block;
	margin: 10px 0;
	line-height:42px;
	color: #FF6610;
	padding-top: 4px;
	font-family: 'Conv_Minecrafter_3', sans-serif;
}

.frontpage .col-sm-5 {
	padding-left: 0px;
}

.playerpage {
	background-image: url('../images/players.jpg');
}

.parentpage {
	background-image: url('../images/parent.jpg');
}

.librarypage {
	background-image: url('../images/library.png');
}

.sidepage {
 	background-position:center;
 	margin-top: 20px;
 	margin-bottom: 0px;
 	padding-top: 20px;
 	padding-bottom: 10px;
	padding-left: 0px;
}

.sidepage h3 {
	display: block;
	margin: 10px 0;
	line-height: .7;
	color: #FF6610;
	font-family: 'Conv_Minecrafter_3', sans-serif;
}

.foot-hr {
	margin-top: 20px;
	margin-bottom: 5px;
	border: 0;
	border-top: 1px solid #9B9B9B;
}

.foot-hostedby {
	margin-top: 0px;
	margin-bottom: 10px;
	margin-right: 10px;
	color: #757575;
	font-size: 9pt;
	float: right;
}

/*********************************************
 * BOOTSRTAP OVERRIDES
 *********************************************/

.breadcrumb {
	background-color: #424242;
	margin-bottom: 0px;
}

.panel {
	background-color: #363636;
}

.panel-group .panel-heading + .panel-collapse .panel-body {
	border-top: 1px solid #5F5F5F;
}
